body{
    background: url("../pic/bg.png") repeat scroll 0 0;
}
#introduction{
	height: 500px;
}
fieldset{
    border-color: #5499c9 !important;
    border-style: solid !important;
    border-width: 2px !important;
    padding: 5px 10px !important;
    margin-top: 20px;
}
.style1{
    font-size: 14px;
    text-align: center;
}
.theme{
    font-size: 16px;
    text-align: center;
}
.download{
	border-style: dotted;
	border-color: #366fa5;
	width:100%;
	margin: auto;
}
.download table{
	margin:auto;
	border-color: #87cefa;
	border:2px;
}
.download h1.center{
	color: #224055;
	margin: 0.5em auto 0.5em;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
}
    
    .style1 {
        font-size: 14px;
        text-align: center;
    }
    
    .theme {
        font-size: 16px;
        text-align: center;
    }
    
    .wrap {
        margin: 0px auto;
        width: 100%;
    }
    
    .tabs {
        width: 100%;
    }
    
    .tabs a {
        display: block;
        float: left;
        width: 25%;
        color: #5499c9;
        text-align: center;
        background: #eee;
        line-height: 40px;
        font-size: 16px;
        text-decoration: none;
    }
    
    .tabs a.active {
        color: #fff;
        background: #5499c9;
        border-radius: 5px 5px 0px 0px;
    }
    
    .swiper-container {
        background: #f4f4f4 ;
        height: 1020px;
        border-radius: 0 0 5px 5px;
        width: 100%;
        border-top: 0;
        border-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;

    }
    
    .swiper-slide {
        height: 325px;
        width: 100%;
        background: none;
        color: #fff;
    }
    
/*    .content-slide {
        padding: 40px;
    }*/
    
    .content-slide p {
        text-indent: 2em;
        line-height: 1.9;
    }
    
    .slidebar-content {
        color: black;
    }
    
    .swiper-slide {
        color: black;
    }
    div.samples{
        width: 45%;
        float: left;
        margin-top:1em; 
        margin-left: 1em;
    }
    
    .upload h3{
        margin: 0;
        color: #224055;
    }
    #search .ym-form label,#search .ym-form select,#search .ym-form input{
        display: inline;
    }
    #search .ym-fbox{
        padding: 0;
    }
    .ym-form #getback label,.ym-form #getback select,.ym-form #getback input{
        display: inline;
    }
    #getback .ym-fbox{
        padding:0;
    }
    #getback input{
        width:100px;
    }

    .upload .ym-form label,.upload .ym-form select,.upload .ym-form  input{
       display: inline; 
       width: auto;
    }
    
    .upload .ym-fbox{
        padding:0;
    }
    #get_back input{
        display: inline; 
       width: auto;
    }
    .more1_content,.more1_content div,.more2_content,.more2_content div,.more3_content,.more3_content div,.more4_content,.more4_content div{display: none;}
    .more1_content img,.more2_content img,.more3_content img,.more4_content img{
        width: 100%;
        height: 286px;
    }
    .more1_content .ym-grid,.more2_content .ym-grid,.more3_content .ym-grid,.more4_content .ym-grid{
        width:90%;
        margin-left: 5%;
    }
    header .ym-wbox h1{text-align: left;}
    .jtable-title-text{font-size: 150%;padding-bottom: }
    #filter{
        margin-bottom: 10px;
    }
    #filter button{
        float: left;
    }
    #filter form{
        float: left;
        margin-left: 30px;
    }
    #filter form input{
        float: left;
    }
    #search div{
        display: none;
    }
    
    div.flip{
        background-color:#5499c9;
        border-radius:4px;
    }
    .flip h4{
         font-size: 16px;
    line-height: 20px;
    padding: 10px 0 10px 20px;
    color: white;
    }
    .additonal{
        margin-left: 1em;
        margin-right: 1em;
    }
    input[type="button"]{
        width: 5em;
        padding: 0 1.5em;
    }
    .fsubmit{
        margin-left: 1em;
        margin-right: 1em;
    }
    .fsubmit input,.fsubmit button{
        padding: 0.5em;
        margin-right: 1em;
    }
    #degene,#depac,#only3utr,#none3utr{
        width: 45%;
        float: right;
        margin-right: 1em;
    }
    #degene .box,#depac .box,#only3utr .box,#none3utr .box{
        padding-bottom: 1em;
    }
