/* Custom Stylesheet */

.nav-top {
  background: black;
}
.nav-top a {
  color: #ecf0f1;
}

h1 span {
  font-size: 44px;
  display: block;
}

.menu, .header, .nav-top {
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}

.page_container, .other {
  max-width: 80em;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: auto;
}
.page_container h2{
    margin: 40px 0 20px;
    font-size: 24px;
}
.page_container h2, .page_container h1, .other h2, .other h1  {
  border-bottom: 1px solid #5499c9;
}
.page_container h2, .page_container h3, .other h3 , .other h2  {
  text-align: left;
}
.page_container h2, .page_container h1 , .page_container h3, .other h2, .other h1 , .other h3 {
  color: black;
}
.page_container p, .other p {
  font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  color: #333;
  font-size: 12px;
  /*line-height: 180%;*/
  text-align: justify;
/*  letter-spacing: 1px;
  word-spacing: 2px;*/
}

.other h1 {
  font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-size: 46px;
  margin-bottom: 20px;
}

.page_container h2 {
  font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-size: 25px;
}
